*{
    max-width: 1600px;
}
#content {
    width: 0 auto;
    margin: 1600px;
}
nav a {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #f3ede1;
}
body {
    background-color: #97D3CB;
}
header {
    background-color: #1d7268;
}
nav a:hover{
    background-color: #ecc02f;
}
.book, .join{
    background-color: #f3ede1;
}
.book:hover, .join:hover{
    background-color: #97D3CB;
}
.msg{
    background-color: #AE956E;
}
footer{
    background-color: #1d7268;
}
