@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rock+Salt&display=swap);
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #f3ede1;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #f3ede1;
}
body {
    background-color: #AE956E;
    color: #513D2F;
    font-family: "Monserrat", Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #1d7268;
}
nav a:hover{
    background-color: #ecc02f;
    color: #513D2F;
}
.home-title{
    color:#513D2F;
    font-family: "Rock Salt", "Titan One", "PT Sans Caption";
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #513D2F;
}
.book {
    background-color: #1d7268;
    color: #f3ede1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #AE956E;
    color: #f3ede1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #ecc02f;
    color: #513D2F;
}
.msg{
    background-color: #1d7268;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
.msg h2{
    color: #f3ede1;
}
.msg p{
    color: #f3ede1;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #1d7268;
    color: #f3ede1;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: #f3ede1;
    text-decoration: none;
}
footer a:hover{
    background-color: #ecc02f;
    color: #513D2F;
}
footer p a:hover{
    text-decoration: underline;
}
.logo{
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #513D2F;
}
main section img {
    box-sizing: border-box;
}